<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>

<body>
  <div class="face">
    <div class="band">
      <div class="red"></div>
      <div class="white"></div>
      <div class="blue"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
  </div>

  <h1>Oops! Something went wrong!</h1>
  <div class="btn" id="return-home">Return to Home</div>

  <script>
    const loggedIn = {{ logged_in | tojson | safe }};
    
    document.getElementById('return-home').addEventListener('click', function () {
      const redirectUrl = loggedIn ? "{{ url_for('dashboard') }}" : "{{ url_for('home') }}";
      window.location.href = redirectUrl;
    });
  </script>
</body>
</html>